{#
    Template for the 'a propos / about' webpage.
#}

{% extends "ProgracqteurWikipedaleBundle::layout.html.twig" %}

{% block body %}

<div id="About">
    <h2>{{ 'titles.about'|trans({}, 'about')|raw }}</h2>
    {{ 'summary'|trans({}, 'about')|raw }}
        
    <h2>{{ 'titles.licence'|trans({}, 'about')|raw }}</h2>
    <p>{{ 'licence'|trans({}, 'about')|raw }}</p>
</div>

{% endblock %}
