{#
    Template that display the lastest mmodificications for the report.
#}

<div id="div__recent_activities_container" class="lateral_content no_border">
    <div class="title">{{ 'tools_panel.last_modifications'|trans({}, 'messages') }}</div>
</div>

<div id="div__recent_activities_template">
    <p><a href="" class="zone-title">
        : <img src="{{ asset('img/rss_w_b.png') }}" alt="Flux RSS" height="14" width="14">
    </a></p>
</div>