{#
    Template that display the lastest mmodificications for the report.
#}

<div id="div_title_dernieres_modifs">
   {{ 'tools_panel.last_modifications'|trans({}, 'messages') }}
   <a href="" id="lastest_modifications_rss_link">
      <img src="{{ asset('img/rss_w_b.png') }}" alt="Flux RSS" height="14" width="14">
   </a>
</div>

<div id="div_content_dernieres_modifs">
</div>