<div class="title-container">
   <div class="bg-line">
   </div>
   <div class="title">
      {{ app.session.get('city').name | capitalize }}
   </div>
</div>

<div class="content">
   {{ app.session.get('city').description | raw }}
</div>