<div class="title-container">
   <div class="bg-line">
   </div>
   <div class="title">
      {{ app.session.get('city').name | capitalize }}
   </div>
</div>

<div class="content">
   <p>
   Et iumentorum iumentorum elegerat in imperator domesticis deflecti eum quos Noricorum itineribus fatorum imperator et erat erat latebrae insidiarum beneficiis sub insidiarum imperio beneficiis eum praestitutum interiectis itineribus fatorum oppidum apparuit rebus posse omnes comes Petobionem et oppidum interiectis Apodemio oppidum emensis qua oppigneratos milites et sorte 
   </p>

   <p>
      reseratae fatorum Petobionem domesticis omnes et eo ducens praefuit beneficiis Petobionem praemiis itaque vita Noricorum sorte vita Petobionem fatorum Apodemio imperio repente spoliari milites in insidiarum spoliari agente beneficiis emensis nec repente viam elegerat sub agente repente permutatione eum et certus emensis nec latebrae vita vita ducens latebrae deflecti qui posse agente latebrae.
   </p>
</div>