/* #actions_panel - Menu */
.right_menu {
   margin-top: 1.2em;
   padding-top: 0.7em;
   padding-bottom:  0.7em;
   background: #000000;
   color: #FFFFFF;
   text-align: center;
}

.right_menu:hover {
   color: #76b82a;
}

.right_menu img {
   height:25px;
   vertical-align: middle;
   margin-bottom: 5px;
   margin-right: 4px;
}

.right_menu:hover {
   color: #76b82a;
}

.cancel {
   color: red;
   padding-left: 2em;
   text-align:left;
}

.cancel:hover {
   color: white;
}

/* #actions_panel - Affichage/Ajout signalement / options d'affichage */

.description_element{
   margin-bottom: 10px;
}

.lateral_content {
   padding-left: 1.5em;
   padding-right: 1.5em;
   padding-top: 0.5em;
   padding-bottom: 0.5em;
   border-bottom: 0.3em;
   border-left: 0em;
   border-right: 0em;
   border-collapse: black;
   border-style: solid;
}

.no_border {
   border-style: none;
}


p.PointTitle { 
   background: #2D2D2D; 
   color: #FFFFFF; 
   margin:0; 
   padding-left: 0.2em; 
}

p.PointTitle .span_id { 
   font-size:1.2em; 
   font-weight:bold; 
}

#div_placeDetails, #div_placeEdit { 
   margin: 1em 0.5em 0 0.5em; 
   border: 5px 
   solid #2D2D2D;
}

/* recent activities */
#div__recent_activities_container .title,  #div__recent_activities_container .zone-title {
   margin: 1em 0.5em 0 0.5em;
   padding : 0.2em 0.5em 0.2em 35px;
   border: 1px solid transparent;
   height: 20px
   text-shadow: 0px 1px rgba(0, 0, 0, 0.1);
   text-transform: uppercase;
}

/* Zone presentation */
.zone_presentation {
   color: #FFF;
   background-color: #76B82A;
   -webkit-border-radius: 30px 0px 0px 0px;
   -moz-border-radius: 30px 0px 0px 0px;
   border-radius: 30px 0px 0px 0px;
   margin-top: 1em;
   min-height: 18.5em;
}

.zone_presentation .title-container {
   height: 60px;
   position: relative;
   background-image: url(../img/town_presentation/left.png);
   background-repeat: no-repeat;
   background-origin: content-box, content-box;
}

.zone_presentation .title-container .bg-line {
   background : url(../img/town_presentation/right.png);
   background-repeat: repeat-x;
   position: absolute;
   top: 0px;
   right: 0px;
   width: 50%;
   height: 60px;
}

.zone_presentation .title-container .title {
   padding-right: 0.5em;
   height: 40px;
   text-align: right;
   font-family: Pecita;
   font-weight: 100;
   font-size: 40px;
   font-feature-settings: "calt" on, "liga" on, "rlig" on;
   -webkit-font-feature-settings: "calt" on, "liga" on, "rlig" on;
   position: absolute;
   bottom: 9px;
   right: 0px
}

.zone_presentation .content {
   padding-left: 1.5em;
   padding-right: 1.5em;
   padding-bottom: 0.3em;
   text-align: justify;
}

.zone_presentation a {
   color: #fff;
}

#div__minisite_message {
   background-color: #76b82a;
   color: #ffffff;
   margin-top: 1.2em;
   padding-bottom: 1.2em;
   padding-top: 1.2em;
   padding-left: 1em;
   padding-right: 1em,
   text-align: justify;
   display: none;
}

#div__minisite_message a {
   color: #ffffff;
}

/* Formulaire ajout report */
#add_new_description_div img.verif {
   float: left;
   width:16px;
   height:16px;
   margin-right:0.2em;
}

.span_photo img {
   width: 30%;
   padding-right: 3%;
}

#div__add_new_description, #div__filter_and_export, #div__report_description_display, #div__latest_modifications, #div__zone_presentation, #div__zone_presentation_container, #div__town_choice, #div__recent_activities_template, #div__recent_activities_container {
   display: none;
}

.zone_icon {
   width: 30px;
   float: left;
}

.zone_icon div {
   border-radius: 5px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 0.2em;
   width: 1em;
   height: 1em;
}
