/* CSS USED FOR views/layout.html.twig */
#banner {
	height:80px;
}

#banner img {
	height: 100%;
}

#horizontal_menu {
	display:table;
	width: 100%;
	padding-top: 1.5em;
	padding-bottom: 0.5em;
    background: #000000;
}

#horizontal_menu div {
	text-align: center; 
	display:table-cell;
	height: 30px;
}

#horizontal_menu div div {
	margin: auto;
	display: table;
}

#horizontal_menu a, #horizontal_menu a:visited { 
	color: #FFFFFF;
	text-decoration: none;
}

#horizontal_menu a:hover {
	color: #76b82a;
}

#horizontal_menu img {
	height: 30px;
	vertical-align: middle;
	margin-bottom:7px;
	margin-right: 2px;
}

#logos {
    text-align: right;
}

#logos img {
    height:48px;
}

