/* CSS USED FOR views/Default/map.html.twig */

/* Carte */
#map {
   height: 500px;
}

#map_legend {
   background-color: #FFFFFF;
   color: #808080;
   font-size: 12px;
   text-align: center;
   width: 100%
}

#map_legend img {
   height: 1.7em;
   margin-right: 5px;
}

#voies_lentes_div {
   position:absolute;
   right:5px;
   top:5px;
   z-index:1000;
   background-color:#FFF;
   padding: 3px;
   padding-right: 5px;
}

#logos_partenaires {
   position:absolute;
   left:5px;
   bottom:5px;
   z-index:1000;
}

#logos_partenaires div {
   margin-right: 5px;
   float: left;
   text-align:center;
   background-color:#FFF;
   color: #808080;
}

#logos_partenaires img {
   height: 50px;
}

/**** Panel haut-gauche ****/
#olPanelUL {
   display:block;
}

div.flash-notice {
   background-color: rgba(68,68,221,0.65);
   color: white;
   font-weight: bold;
   box-shadow: 2px 2px 3px rgba(68,68,221,0.45), -2px -2px 3px rgba(68,68,221,0.45);
   text-align: center;
   paddding: 15px;
   margin-left: 50px;
   margin-right: 50px;
}

div#OpenLayers.Control.Attribution_7 {
   position:absolute;
   bottom:0;
}