form {
   margin-top: 2em;
   text-align: center;
}

#fos_user_registration_form label {
width:200px;
display: inline-block;
text-align:right;
margin-left: 5px;
margin-right: 1em;
float:none;
}

form input.submit {
   margin: 1em;
}