{% extends "ProgracqteurWikipedaleBundle:FirefoxOS:layout.html.twig" %}

{% block body %}
	<link href="{{ asset('firefox_os_building_blocks/style/headers.css') }}" rel="stylesheet" type="text/css">

	{% if (app.session.get('city') ) %}
		<section data-position="right" role="region" class="current">
  		<header>
    		<menu type="toolbar"><a href="{{ path('wikipedale_firefoxos_choose_city') }}">Changer</a></menu>
        <h1>{{app.session.get('city').name}}</h1>
  		</header>
        {% block city_content %} {% endblock %}
    </section>
  {% endif %}
{% endblock %}